.container-fluid {
  max-width: 1920px;
}
.header {
    width: 100%;
    height: 100px;
    background: #1A4237;
}
.content-header {
    height: 100%;
    margin: 0 240px;
    display: flex;
}
.logo-header {
    height: 47px;
    width: 155px;
    margin-top: 29px;
    border-radius: 0px;
}
.title-header {
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 100px;
    margin-right: 160px;
    align-items: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.hotline {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: right;
    color: #FDED99;
}
.banner {
    height: 1024px;
    background-image: url("images/c15dca2c9923627d3b32.jpg");
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.banner-img {
  height: 1024px;
}
.title-banner {
    height: 256px;
    width: 673px;
    border-radius: 0px;
    position: absolute;
    bottom: 77px;
    left: 240px;
}
.contact-img {
    height: 1144px;
    width: 762px;
    background-color: #1A4237;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.shophouse {
  position: relative;
  height: 739px;
  overflow: hidden;
}
.shophouse-header {
  position: relative;
}
.shophouse-item1 {
  width: 1062.95px;
  height: 707px;
  margin: 16px;
  overflow: hidden;
}
.shophouse-item1-img {
  width: 100%;
}
.shophouse .shophouse-img {
  position: absolute;
  width: 783px;
  height: 681px;
  left: 50px;
  top: 11px;
}
.shophouse-title {
  width: 450px;
  position: absolute;
  z-index: 2;
  top: 115px;
  left: 210px;
}
.shophouse-title1 {
  font-family: UTM Copperplate;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  color: #1F6247;
}
.shophouse-title2 {
  font-family: UTM Copperplate;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: #1F6247;
}
.shophouse-title3 {
  height: 278px;
  width: 450px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: justified;
}
.shophouse-images {
  height: 577px;
  justify-content: space-between;
}
.shophouse-images-item {
  width: 33%;
  overflow: hidden;
  position: relative;
  margin-right: 16px;
}
.shophouse-images-item:last-child {
  margin-right: 0;
}
.shophouse-item-img {
  height: 100%;
}
.shophouse-item-title {
  position: absolute;
  width: 386px;
  height: 76px;
  font-family: UTM Copperplate;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  left: 50%;
  bottom: 34px;
  transform: translateX(-50%);
  background: linear-gradient(89.46deg, #FBDE85 5.14%, #C48401 24.28%, #F8D87D 33.05%, #FBDE85 40.95%, #D8A531 59.05%, #FBDE85 78.87%, #E4B94F 88.35%, #C48401 100.99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.info {
  padding: 16px 0 0;
}
.info-img {
  width: 1157px;
}
.info-detail {
  background-color: #1A4237;
  padding-left: 146px;
}
.info-title {
  width: 505px;
  height: 63px;
  font-family: UTM Copperplate;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 63px;
  text-align: center;
  margin-bottom: 39px;
  margin-top: 100px;
  background: linear-gradient(89.46deg, #FBDE85 5.14%, #C48401 24.28%, #F8D87D 33.05%, #FBDE85 40.95%, #D8A531 59.05%, #FBDE85 78.87%, #E4B94F 88.35%, #C48401 100.99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.info-content {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #E5E5E5;
  font-feature-settings: 'cpsp' on;
}
.info2 {
  height: 700px;
}
.info2-content {
  width: 50%;
}
.info2-content.left {
  background-color: #fbf8ed;
  padding-left: 243px;
  padding-right: 88px;
}
.info2-content.right {
  background-color: #eff3f4;
  padding-left: 91px;
  padding-right: 240px;
}
.info2-title {
  font-family: UTM Copperplate;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  margin-top: 61px;
  background: linear-gradient(91.69deg, #C48401 25.17%, #D8A531 60.03%, #E4B94F 89.4%, #C48401 102.08%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info2-detail {
  width: 629px;
  height: 367px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 35px;
  text-align: justify;
  font-feature-settings: 'cpsp' on;
  color: #000000;
  word-break: break-word;
  white-space: pre-line;
}
.utilities {
  background-color: #1A4237;
}
.utilities-content {
  width: 50%;
  padding-left: 243px;
  padding-right: 88px;
}
.utilities-content-title {
  height: 44px;
  font-family: UTM Copperplate;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 36px;
  background: linear-gradient(89.46deg, #FBDE85 5.14%, #C48401 24.28%, #F8D87D 33.05%, #FBDE85 40.95%, #D8A531 59.05%, #FBDE85 78.87%, #E4B94F 88.35%, #C48401 100.99%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.utilities-content-detail {
  height: 655px;
  left: 243px;
  font-family: Roboto;
  font-style: normal;
  font-size: 22px;
  line-height: 35px;
  text-align: justify;
  font-feature-settings: 'cpsp' on;
  color: #FCF9ED;
  word-break: break-word;
  white-space: pre-line;
}
.utilities-image {
  width: 50%;
}
.flat-title {
  height: 44px;
  font-family: UTM Copperplate;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 16px;
  background: linear-gradient(91.69deg, #C48401 25.17%, #D8A531 60.03%, #E4B94F 89.4%, #C48401 102.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.flat-img {
  width: 1444px;
  margin: auto;
}
#images {
  margin-top: 106px;
}
.images {
  height: 577px;
  margin-bottom: 16px;
}
.image-item {
  width: 33%;
  overflow: hidden;
  position: relative;
  margin-right: 16px;
  background-image: url("../images/2288-01.png");
  
  mix-blend-mode: multiply;
}
.image-gradient {
  background: linear-gradient(180deg, rgba(15, 67, 67, 0) 0%, rgba(13, 51, 51, 0.572917) 65.1%, #0B2727 100%);
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
}
.image-item:last-child {
  margin-right: 0;
}
.img-item {
  height: 100%;
}
.images-title {
  position: absolute;
  z-index: 2;
  width: 223px;
  height: 38px;
  font-family: UTM Copperplate;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  bottom: 102px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(89.46deg, #FBDE85 5.14%, #C48401 24.28%, #F8D87D 33.05%, #FBDE85 40.95%, #D8A531 59.05%, #FBDE85 78.87%, #E4B94F 88.35%, #C48401 100.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.images-content {
  position: absolute;
  z-index: 2;
  width: 410px;
  height: 63px;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  font-feature-settings: 'cpsp' on;
  color: #FFFFFF;
}

/* Footer*/
.seperate-footer {
  width: 100%;
  height: 21px;
  background: linear-gradient(90.05deg, #FDEB95 2.96%, #D7A657 154.18%);
}
.footer {
  height: 600px;
  background-image: url("../images/3324055i-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-left {
  width: 50%;
  height: 100%;
  position: relative;
  padding-left: 240px;
}
.footer-img-area {
  margin: 81px auto 0;
  width: 321px;
  height: 97px;
}
.footer-img {
  width: 100%;
}

.footer-title {
  font-family: UTM Copperplate;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(89.46deg, #FBDE85 5.14%, #C48401 24.28%, #F8D87D 33.05%, #FBDE85 40.95%, #D8A531 59.05%, #FBDE85 78.87%, #E4B94F 88.35%, #C48401 100.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 44px;
  margin-bottom: 29px;
  margin: 44px auto 29px;
}
.company-item {
  margin-right: 10px;
}
.company-item:last-child {
  margin-right: 0;
}
.company-content {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #1B4635;
  background: linear-gradient(302.34deg, #FFF9BF -0.41%, #D7A657 192.93%);
  border-radius: 10px 10px 0px 0px;
  height: 98px;
  padding: 11px 33px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
}
.company-content b {
  font-size: 30px;
  line-height: 35px;
}
.company-content .number b{
  font-size: 40px;
  line-height: 47px;
}
.company-content .number {
  font-size: 24px;
  line-height: 28px;
}
.company-title {
  padding: 0 15px;
  background: #1B4635;
  border-radius: 0px 0px 10px 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer-menu {
  margin: 96px 0 60px 0;
}
.footer-menu-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}
.footer-right {
  width: 50%;
}
.footer-hotline {
  width: 312px;
  height: 64px;
  background: linear-gradient(93.7deg, #FBDE85 9.38%, #EECA75 43.48%, #D7A657 69.22%, #EDC873 97.34%, #C48401 124.27%);
  border-radius: 46px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #634405;
  margin: 104px auto 21px;
}
.footer-hotline b {
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
}
.contact-box {
  width: 516px;
  height: 160px;
  border: 1px solid #EDD491;
  box-sizing: border-box;
  border-radius: 16px;
  margin: auto;
  padding: 8px;
}
.contact-box .form-control {
  height: 44px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 6px;
}
.icon-send {
  width: 22px;
  height: 18px;
}
.btn-send {
  width: 275px;
  height: 44px;
  background: linear-gradient(93.63deg, #FBDE85 -17.39%, #E3B74C 21.25%, #FBDE85 57.08%, #E3B84D 88.69%, #C48401 117.49%);
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #634405;
  cursor: pointer;
  text-align: center;
  line-height: 44px;
  padding: 0 37px;
  margin-left: 6px;
}
.socical-box {
  width: 200px;
  margin: auto;
}
.icon-social {
  height: 25px;
  width: 25px;
}